*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    overflow: visible;
    display: inline;
}

header .navbar-container {
    width: 100%;
    padding-block: 16px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 999;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header .navbar-container .navbar {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
    align-items: baseline;
    background-color: white;
    /* border: 1px solid red; */
}

.navbar-container .navbar .text-logo{
    display: inline;
}

.navbar .text-logo .first-name{
    color: #0b404a;
    font-size: 1.5rem;
}

.navbar .text-logo .second-name{
    color: #b0ccc7;
    font-size: 1.5rem;
    margin-left: -4px;
}

.navbar-container .navbar .nav-list ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 2rem 2.5rem;
}

.navbar-container .navbar .nav-list ul li {
    list-style-type: none;
}

.navbar-container .navbar .nav-list ul li a{
    padding-inline: 0.2rem;
    text-decoration: none;
    color: #0b404a;
}

.jumbotron {
    margin-top: 83.33px;
    width: 100%;
    padding: 8rem 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.3)), url(../images/jumbotoron-image.jpeg) center/cover no-repeat;
}

.jumbotron h1 {
    font-size: 3rem;
}

.jumbotron p {
    width: 80%;
    padding-inline: 2rem;
}

main {
    width: 100%;
    max-width: 1200px;
    padding-inline: 3rem;
    padding-top: 2.5rem;
    flex: 1;
    display: flex;
    gap: 0 4rem;
}

#content {
    flex: 5;
}

.article-flex {
    display: flex;
}

.article-flex .article-text {
    flex: 1;
}

.article-flex .article-text h2 {
    color: #0b404a;
}

.article-flex .article-text p {
    text-align: justify;
    padding-right: 2rem;
}

.article-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.article-img-container img {
    height: 250px;
}

.list-wisata p {
    font-weight: 500;
    color: #0b404a; 
}

.list-wisata ul li {
    list-style-type: decimal;
    margin-top: 0.5rem;
}

aside {
    flex: 1;
}

.profile header {
    text-align: center;
    color: #0b404a;
}

.profile header img {
    width: 150px;
}

.profile section table tr th {
    color: #0b404a;
    text-align: left;
}

footer {
    width: 100%;
    background-color: #0b404a;
    color: white;
    font-weight: 400;
    text-align: center;
    padding: 1.5rem;
}

@media screen and (max-width: 1190px) {
    
    .navbar-container .navbar .nav-list ul {
        flex-wrap: wrap;
    }

    .navbar-container .navbar .nav-list ul li a {
        font-size: 14px;
    }

    .article-flex {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    aside {
        margin-block: 2rem;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile header {
        flex: 1;
    }

    .profile section {
        flex: 2;
    }

    .profile header img {
        width: 100px;
    }
}

@media screen and (max-width: 768px) {
    header .navbar-container .navbar {
        flex-direction: column;
        align-items: center;
    }
    
    .article-img-container img {
        height: 150px;
    }
    
    .jumbotron {
        margin-top: 111.33px;  
        padding-block: 3rem;
    }

    .jumbotron h1 {
        font-size: 1.5rem;
    }

    .jumbotron p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 360px) {

    .jumbotron {
        margin-top: 162.67px;  
    }
}